  
{% extends 'shared/base.html' %}

  {% block content  %}

    <h2> Librarian Information:</h2>
    <h3>{{ librarian.first_name }} {{ librarian.last_name }}</h3>
    <p>Email: {{ librarian.email }}</p>
    <p>User Name: {{ librarian.username }}</p>
    <p>Superuser: {% if librarian.is_superuser %} Yep dey is! 
    {% elif librarian.is_superuser is not True %}  Wanna Be</p>
    {% endif %}
    <p>Date Joined: {{ librarian.date_joined }}</p>
    <p>Last Login: {{ librarian.last_login }}</p>

{% endblock %}